input{
    width: 400px;
}
button{
    background-color: black;
    color: white;
    justify-content: space-around;
    width: 100px;
    height: 20px;
}
li {
    cursor: pointer;
    font-size: 1.5em;
}